.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.actions {
  opacity: 0;
}
tr:hover {
  cursor: pointer;
  .actions{
    opacity: 1;
  }
}
.contactList{
  height: 476px;
  width: auto;
  overflow-y: auto;
}
.chat-area {
  // margin-left: 8px;
  width: auto;
  .chat-head{
    padding: 0.5rem;
  }
}
.brand{
  font-size: 1rem;
  color: #ffffff;
}
tbody td a {
  color: #222;
  &:hover {
    color: rgb(73, 30, 30);
  }
}
.nav {
  .nav-link {
    color: #ffffff;
  }
  &:hover{
    color: rgb(73, 30, 30);
  }
}

.App-link {
  color: #61dafb;
}

.chat-box {
  padding: 8px 0px;
  border-radius: 2px;
}
.footer{
  text-align: center;
  padding: 8px;
  font-size: 12px;
}
.typing{
  padding-left: 4px;
  margin-bottom: 0px !important;
}

.msg-box-div {
  display: flex;
}

#msg {
  width: 100%;
}

.send-btn {
  margin-left: 8px;
}

.space {
  margin: 8px;
}

.chat-content {
  padding: 8px;
  border: solid 2px #b5aeaf9e;
  height: 350px;
  overflow-y: auto;
  border-radius: 4px;
  .chat-msg{
    // padding: 4px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}